<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <h2>Bantads</h2>
  <div class="nav-tool-items" *ngIf="!this.menuCliente && !this.menuAdmin">
    <button
      mat-button
      mat-raised-button
      routerLink="login"
      routerLinkActive="active"
    >
      Log in
    </button>
    <button
      mat-button
      mat-raised-button
      routerLink="/cliente/home"
      routerLinkActive="active"
      (click)="this.menu('cliente')"
    >
      Log in cliente
    </button>
    <button
      mat-button
      mat-raised-button
      routerLink="/admin/home"
      routerLinkActive="active"
      (click)="this.menu('admin')"
    >
      Log in admin
    </button>
    <button
      mat-button
      mat-raised-button
      routerLink="register"
      routerLinkActive="active"
    >
      Register
    </button>
    <button mat-button mat-raised-button class="logout-btn" (click)="this.menu('')">Log out</button>
  </div>
  <div class="nav-tool-items" *ngIf="this.menuCliente">
    <button mat-button mat-raised-button routerLink="/cliente/alterar"> Alterar Perfil</button>
    <button mat-button mat-raised-button routerLink="/cliente/depositar"> Depositar</button>
    <button mat-button mat-raised-button routerLink="/cliente/extrato"> Extrato</button>
    <button mat-button mat-raised-button routerLink="/cliente/saque"> Saque</button>
    <button mat-button mat-raised-button routerLink="/cliente/transferencia"> Transferencia</button>
    <button mat-button mat-raised-button class="logout-btn" routerLink="" (click)="this.menu('')">Log out</button>
  </div>
  <div class="nav-tool-items" *ngIf="this.menuAdmin">
    <button mat-button mat-raised-button routerLink="/admin/relatorio"> Relatório de clientes</button>
    <button mat-button mat-raised-button routerLink="/admin/adicionarGerente"> Inserir Gerente</button>
    <button mat-button mat-raised-button routerLink="/admin/listarGerente"> Listar Gerentes</button>
    <button mat-button mat-raised-button class="logout-btn" routerLink="" (click)="this.menu('')">Log out</button>
  </div>
</mat-toolbar>
