<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <h2>Bantads</h2>
  <div class="nav-tool-items">
    <button
      mat-button
      mat-raised-button
      routerLink="login"
      routerLinkActive="active"
    >
      Log in
    </button>
    <button
      mat-button
      mat-raised-button
      routerLink="register"
      routerLinkActive="active"
    >
      Register
    </button>
    <button mat-button mat-raised-button class="logout-btn">Log out</button>
  </div>
</mat-toolbar>
