<div *ngIf="user && conta && gerente && city && state">
  <div class="p-2">
    <h1 class="pt-2">Dados do Cliente</h1>
    <div class="d-flex">
      <div class="p-2">
        <h3>Usuário:</h3>
        <p>ID: {{ user.id }}</p>
        <p>Nome: {{ user.nome }}</p>
        <p>CPF: {{ user.cpf }}</p>
        <p>Telefone: {{ user.telefone }}</p>
        <p>E-mail: {{ user.email }}</p>
        <p>Cargo: {{ user.cargo }}</p>
        <p>Estado: {{ state.nome }}</p>
        <p>Cidade: {{ city.nome }}</p>
        <p>CEP: {{ user.cep }}</p>
        <p>Rua: {{ user.rua }}</p>
        <p>Número: {{ user.numero }}</p>
        <p>Complemento: {{ user.complemento }}</p>
      </div>
      <div class="p-2">
        <h3>Conta:</h3>
        <p>Data de abertura: {{ conta.data | date : "dd/MM/yyyy HH:mm" }}</p>
        <p>
          Limite: {{ conta.limite ? (conta.limite | currency) : "Não possui" }}
        </p>
        <p>Saldo: {{ conta.saldo | currency }}</p>
        <p>Salário: {{ conta.salario | currency }}</p>
        <p>Nome do gerente: {{ gerente.nome }}</p>
      </div>
    </div>
  </div>
</div>
