<div class="register-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Cadastro</mat-card-title>
    </mat-card-header>
    <form class="register-form" [formGroup]="form" (ngSubmit)="register()">
      <mat-card-content>
        <mat-form-field class="register-full-width">
          <input
            matInput
            placeholder="Nome"
            name="name"
            formControlName="name"
          />
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input
            matInput
            type="email"
            placeholder="E-mail"
            name="email"
            formControlName="email"
          />
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input
            matInput
            placeholder="CPF"
            name="cpf"
            (input)="cpfChange()"
            type="text"
            formControlName="cpf"
          />
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input
            matInput
            placeholder="Telefone"
            name="phone"
            formControlName="phone"
          />
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input
            matInput
            placeholder="Salário (R$)"
            name="salary"
            formControlName="salary"
          />
        </mat-form-field>
        <mat-form-field appearance="fill" class="register-full-width">
          <mat-label>Estado</mat-label>
          <mat-select name="state" formControlName="state">
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2" disabled
              >Option 2 (disabled)</mat-option
            >
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="register-full-width">
          <mat-label>Cidade</mat-label>
          <mat-select name="city" formControlName="city">
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2" disabled
              >Option 2 (disabled)</mat-option
            >
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input matInput placeholder="CEP" name="cep" formControlName="cep" />
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input
            matInput
            placeholder="Rua"
            name="street"
            formControlName="street"
          />
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input
            matInput
            type="number"
            min="0"
            placeholder="Número"
            name="number"
            formControlName="number"
          />
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input
            matInput
            placeholder="Complemento"
            name="complement"
            formControlName="complement"
          />
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" type="submit">
        Cadastrar
      </button>
    </form>
  </mat-card>
</div>
