<div class="register-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Cadastro</mat-card-title>
    </mat-card-header>
    <form class="register-form">
      <mat-card-content>
        <mat-form-field class="register-full-width">
          <input matInput placeholder="Nome" />
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input matInput type="email" placeholder="E-mail" />
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input matInput placeholder="CPF" />
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input matInput placeholder="Telefone" />
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input matInput placeholder="Salário" />
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input matInput placeholder="Estado" />
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input matInput placeholder="Cidade" />
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input matInput placeholder="CEP" />
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input matInput placeholder="Rua" />
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input matInput placeholder="Número" />
        </mat-form-field>
        <mat-form-field class="register-full-width">
          <input matInput placeholder="Complemento" />
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block">
        Cadastrar
      </button>
    </form>
  </mat-card>
</div>
