<div class="mat-elevation-z8">
  <div class="d-flex justify-content-around">
    <h1 class="pt-2">Lista de Melhores Clientes ({{ clientes.length }})</h1>
  </div>

  <mat-table
    [dataSource]="dataSource"
    matSort
    matSortActive="saldo"
    matSortDirection="desc"
    matSortDisableClear
  >
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="id">
        {{ row.cliente.id }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Nome
      </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="nome">
        {{ row.cliente.nome }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cpf">
      <mat-header-cell *matHeaderCellDef mat-sort-header> CPF </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="cpf">
        {{ row.cliente.cpf }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cidade">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Cidade
      </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="cidade">
        {{ row.city.nome }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="estado">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Estado
      </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="estado">
        {{ row.state.nome }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="saldo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Saldo
      </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="saldo">
        {{ row.conta.saldo | currency }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
