<h1>Adicionar Gerente</h1>

<div class="well">
  <form #formGerente="ngForm">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        name="nome"
        [(ngModel)]="gerente.nome"
        #nome="ngModel"
        required
      />
    </div>
    <div
      *ngIf="nome.errors && (nome.dirty || nome.touched)"
      class="alert alert-danger"
    >
      <div [hidden]="!nome.errors['required']">
        Nome do gerente obrigatório.
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="text"
        class="form-control"
        id="email"
        name="email"
        [(ngModel)]="gerente.email"
        #email="ngModel"
        required
      />
      <div
        *ngIf="email.errors && (email.dirty || email.touched)"
        class="alert alert-danger"
      >
        <div [hidden]="!email.errors['required']">
          Email do gerente obrigatório.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="cpf">CPF:</label>
      <input
        type="text"
        class="form-control"
        id="cpf"
        name="cpf"
        [(ngModel)]="gerente.cpf"
        #cpf="ngModel"
        mask="CPF_CNPJ"
        required
      />
      <div
        *ngIf="cpf.errors && (cpf.dirty || cpf.touched)"
        class="alert alert-danger"
      >
        <div [hidden]="!cpf.errors['required']">
          CPF do gerente obrigatório.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="telefone">Telefone:</label>
      <input
        type="text"
        class="form-control"
        id="telefone"
        name="telefone"
        [(ngModel)]="gerente.telefone"
        #telefone="ngModel"
        mask="(00) 00000-0000"
        required
      />
      <div
        *ngIf="telefone.errors && (telefone.dirty || telefone.touched)"
        class="alert alert-danger"
      >
        <div [hidden]="!telefone.errors['required']">
          Telefone do gerente obrigatório.
        </div>
      </div>
    </div>
    <div class="form-group">
      <button
        type="button"
        class="btn btn-primary"
        (click)="inserir()"
        [disabled]="!formGerente.form.valid"
      >
        <i class="fa fa-save" aria-hidden="true"></i> Salvar
      </button>
      <a class="btn btn-secondary" [routerLink]="['/admin/listar-gerente']">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
      </a>
    </div>
  </form>
</div>
