<div
  fxLayout="column"
  fxLayoutAlign="center start"
  class="container-cliente-home"
  *ngIf="this.dadosUsuario && this.contaCliente && this.gerente"
>
  <div class="informacao cliente-nome">
    Bem vindo {{ this.dadosUsuario.nome }}
  </div>
  <div class="informacao" fxLayout="row">
    Saldo Atual:
    <div class="informacao-saldo" *ngIf="this.contaCliente.saldo! >= 0">
      {{ this.contaCliente.saldo | currency }}
    </div>
    <div
      class="informacao-saldo-negativo"
      *ngIf="!(this.contaCliente.saldo! >= 0)"
    >
      {{ this.contaCliente.saldo | currency }}
    </div>
  </div>
  <div class="informacao" fxLayout="row">
    Limite:
    <div class="informacao-limite">
      {{
        this.contaCliente.limite
          ? (this.contaCliente.limite | currency)
          : "Sem limite"
      }}
    </div>
  </div>
  <div class="informacao" fxLayout="row">
    Gerente:
    <div class="informacao-gerente">{{ this.gerente.nome }}</div>
  </div>
</div>
